<a href="https://colab.research.google.com/github/diegoestradaXO/Proyecto2-Data-Science/blob/master/Proyecto_2_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto 2: Data Science
### Detección de COVID-19 en radiografías de tórax

### Autores:

Andrea Elías - 17048<br>
Diego Estrada - 18540<br>
Saúl Contreras - 18409 <br>
Randy Venegas - 18341

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pip install pydicom

Collecting pydicom
  Downloading pydicom-2.2.1-py3-none-any.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 9.4 MB/s
Installing collected packages: pydicom
Successfully installed pydicom-2.2.1

In [ ]:
import pandas as pd
import os
import math
from PIL import Image
import cv2
import numpy as np
import sys 
import matplotlib.pyplot as plt
import pydicom

In [ ]:
data_study_level = pd.read_csv('/content/drive/My Drive/datasets/siim-covid-19/train_study_level.csv')

In [ ]:
data_image_level = pd.read_csv('/content/drive/My Drive/datasets/siim-covid-19/train_image_level.csv')

In [ ]:
data_image_level.shape

(6334, 4)

In [ ]:
data_study_level.shape

(6054, 5)

In [ ]:
data_study_level.head()

                   id  ...  Atypical Appearance
0  00086460a852_study  ...                    0
1  000c9c05fd14_study  ...                    1
2  00292f8c37bd_study  ...                    0
3  005057b3f880_study  ...                    0
4  0051d9b12e72_study  ...                    1

[5 rows x 5 columns]

In [ ]:
data_image_level.head()

                   id  ... StudyInstanceUID
0  000a312787f2_image  ...     5776db0cec75
1  000c3a3f293f_image  ...     ff0879eb20ed
2  0012ff7358bc_image  ...     9d514ce429a7
3  001398f4ff4f_image  ...     28dddc8559b2
4  001bd15d1891_image  ...     dfd9fdd85a3e

[5 rows x 4 columns]